/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    /* background-color: #CCF0F3; */
    background-color: white;
}

@font-face{
    font-family: "Magazine-Letters";
    src: url(font/MagazineLetterByBrntlbrnl-Regular.ttf);
}

.fa-maximize{
    position:absolute;
    z-index: 5;
    top: 10%;
    right: 5%;
    font-size: 200%;
    color: orange;
}

.fa-maximize:hover{
    cursor: pointer;
}

/* .fa-star {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 48px;
    color: orange;
    transform: translate(-50%, -50%);
    animation: star 2s infinite ease-in-out;
}

@keyframes star {
    0% {
      opacity: .5;
      transform: scale(1);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: .5;
      transform: scale(1.5);
    }
} */


/* video.switch{
    filter: saturate(70%);
}  */

/* audio {
    margin-right: 400px;
    margin-left: 20px;
} */

#room1{
    position: fixed;
    /* justify-content: center; */
    /* right: 400;
    bottom: 100; */
    margin-left: 150px;
    min-width: 76%;
    min-height: 76%;
    z-index: -1;
}

#lyrics p {
    position: absolute;
    /* font-family: "VT323", monospace; */
    font-weight: 400;
    font-family: "Magazine-Letters", system-ui, Arial;
    padding: 20px;
    font-size: 3em;
    color: black;
    transition: all 2s;
}

#line1 {
    bottom: 10%;
    left: 10%;
    background-color: #FFA8A8;
    transform: rotate(-2deg);
}

#line2 {
    bottom: 13%;
    left: 25%;
    background-color: #E9EEAF;
    transform: rotate(2deg);
}

#line3 {
    bottom: 15%;
    left: 40%;
    background-color: #BFE4FF;
    transform: rotate(-3deg);
}

#line4 {
    bottom: 12%;
    left: 50%;
    background-color: #FFA8A8;
    transform: rotate(4deg);
}

#line5 {
    bottom: 11%;
    left: 63%;
    background-color: #BFE4FF;
    transform: rotate(-3deg);
}

#line6 {
    bottom: 10%;
    left: 10%;
    background-color: #E9EEAF;
    transform: rotate(-2deg);
}

#line7 {
    bottom: 12%;
    left: 20%;
    transform: rotate(2deg);
    background-color: #FFA8A8;
}

#line8 {
    bottom: 15%;
    left: 30%;
    background-color: #BFE4FF;
    transform: rotate(-3deg);
}

#line9 {
    bottom: 13%;
    left: 55%;
    background-color: #FFA8A8;
    transform: rotate(4deg);
}

#line10 {
    bottom: 11%;
    left: 75%;
    background-color: #E9EEAF;
    transform: rotate(-3deg);
}

/* #line11 {
    bottom: 20%;
    left: 20%;
    background-color: #BFE4FF;
} */

/* .gg-bot {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: orange;
}

.gg-bot {
    cursor: pointer;
} */

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}